* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #000;
}

i,
button {
  cursor: pointer;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 1px 7px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px 30px;
  position: sticky;
}
.header__logo {
  background: -webkit-linear-gradient(#8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  font-size: 25px;
  & i {
    font-size: 2em;
    margin-right: 15px;
  }
}
.header__search {
  justify-self: center;
  align-items: center;
  display: flex;
  width: 100%;
  & .inputForm {
    display: flex;
    width: 100%;
  }
  & button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px;
    border: 1px solid #c7c6c6;
  }
  & input {
    color: #000;
    width: 100%;
    border: 1px solid #c7c6c6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 7px 10px;
    &::placeholder {
      color: #979797;
    }
    &:focus {
      border: 1px solid #000;
    }
  }
}
.header_btns {
  justify-self: end;
}
.microphoneButton i {
  color: #c1c1c1;
  font-size: 1.3em;
  margin-left: 10px;
  &:hover {
    color: #000;
  }
}

.header_btns {
  font-size: 15px;
  display: flex;
  align-items: center;
  & .notifications i {
    font-size: 1.4em;
    color: #c1c1c1;
    &:hover {
      color: #000;
    }
  }

  & .dropdown {
    position: relative;
    display: inline-block;
    & .dropbtn {
      & i {
        margin-left: 15px;
        color: #fff;
        background: -webkit-linear-gradient(#8a2387, #e94057, #f27121);
        padding: 10px;
        border-radius: 50%;
        &:hover {
          background: #c1c1c1;
          color: #000;
        }
      }
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  background: #fff;
  &:hover {
    background: rgb(239, 239, 239);
  }
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  & i {
    margin-right: 8px;
  }
}
#logout {
  color: #ff0000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn i {
  background: #c1c1c1;
  color: #000;
}
.sidebar {
  flex-grow: 3;
  display: grid;
  align-content: space-between;
  background: #ebebeb;
  padding: 20px 30px;
}

.sidebar__list {
  list-style: none;
  & li {
    padding: 2px;
    display: flex;
    cursor: pointer;
    &:hover {
      background: #fff;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__list {
  & li {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    text-overflow: ellipsis;
  }
}

.streamer {
  display: flex;
  align-items: center;
  position: relative;
  & img {
    margin-right: 25px;
    border-radius: 50%;
  }
  & h6 {
    font-size: 15px;
  }
}

.viewers {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    background: red;
    border-radius: 50%;
    top: 6px;
    left: -12px;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
  }
}

.sidebar__list {
  overflow: scroll;
  max-height: 300px;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.sidebar__footer {
  background: #dfdfdf;
  padding: 20px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 5px;
}

.informBlock {
  display: grid;
  justify-content: center;

  & span {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    &::selection {
      background: coral;
    }
  }
}

.sidebar__socials {
  padding-top: 20px;
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  & i {
    color: #000;
  }
}

#telegram:hover i {
  color: #229bd3;
}
#instagram:hover i {
  color: #ab288e;
}
#facebook:hover i {
  color: #4267b2;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  overflow: scroll;
}

.categories {
  padding: 20px 30px;

  & ul {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    & li {
      margin-right: 10px;
      padding: 7px;
      border-radius: 10px;
      background: #edeced;
      border: 1px solid #c7c6c6;
      cursor: pointer;
    }
  }
}

main {
  overflow: hidden;
  width: 100%;
}

#active {
  background-color: royalblue;
  color: #fff;
}

.videos {
  & img {
    width: 100%;
  }
  & ul {
    padding: 20px 30px;
    grid-gap: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  & li {
    cursor: pointer;
    &:hover .videos img {
      -webkit-filter: brightness(77%);
    }
  }
}

.description {
  display: flex;
  align-items: center;
}

.photo img {
  margin-right: 20px;
  width: 40px;
}

.title {
  font-weight: 700;
  text-overflow: ellipsis;
  &:hover {
    background: -webkit-linear-gradient(#8a2387, #e94057, #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

footer {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  &:hover {
    background: -webkit-linear-gradient(#8a2387, #e94057, #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media only screen and (max-width: 1200px) {
  .sidebar__list {
    overflow: scroll;
    max-height: calc(100vh - 110px);
  }
  .streamer {
    & h6 {
      display: none;
    }
  }
  .viewers,
  .sidebar__footer {
    display: none;
  }
  .sidebar {
    width: 45px;
  }
  .container {
    display: grid;
    grid-template-columns: 105px 1fr;
  }
  .videos {
    & ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
